.form_card {
	width: 100%;
	max-width: 500px;
	background: #fff;
	padding: 30px 40px;
	margin: 0 auto;
	margin-top: 5%;
}

.form_card_transparant {
	width: 100%;
    max-width: 500px;
    background: transparent;
    padding: 0px 0px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
}

.form_card_transparant h3{
    color: #fff;
    font-size: 17px;
}

.form_card_transparant h3 a{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

.settings_inputs .form-group select {
	border-radius: 0px;
	border: solid 1px #DFDDE0;
	color: #000;
	height: 45px;
	font-size: 17px;
	font-weight: 300;
	width: 100%;
}

.settings_inputs .form-group textarea {
	border-radius: 0px;
	border: solid 1px #DFDDE0;
	color: #000;
	height: 135px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 300;
	width: 100%;
}

.settings_inputs .form-group input {
	border-radius: 0px;
	border: solid 1px #DFDDE0;
	color: #000;
	height: 45px;
	font-size: 17px;
	font-weight: 300;
}

.form-input {
	width: 100%;
	padding: 10px;
}