.navbar {
	font-weight: 300;
	position:absolute;
    top: 0px;
    display: block;
    width: 100%;
	text-transform: capitalize;
    background: -webkit-linear-gradient(0deg, #CE0921 10%, #d63a1f 90%);
    background: -webkit-linear-gradient(bottom, #CE0921 10%, #d63a1f 90%);
    background: linear-gradient(0deg, #CE0921 10%, #d63a1f 90%);
    border-bottom: 0px solid #dd3928;	
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-brand, .red-btn a  {
    color: white;
    font-size: 15px;
}
.navbar-brand {
    float: left;
    padding: 12px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 55px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
  color: #fff !important;
}
.navbar-brand img {
  display: inline-block;
  margin-right: 20px;
}

.navbar-brand h3 {
    display: inline-block;
    font-family: 'futura-pt-condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0px;
    vertical-align: top;
    padding-right: 20px;
}

.navbar-brand h3:hover {
    color: #fff !important;
}

.navbar-nav > li {
    float: none;
    border-left: solid 1px #99271C;
    padding-top: 3px;
    padding-bottom: 2px;
}

.nav > li {
    position: relative;
    display: inline-block;
    letter-spacing: 0.04em;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;

}

.menu-dropdown {
    background: transparent;
    border: 0px;
    color: #fff;
    position: relative;
    display: inline-block;
    letter-spacing: 0.04em;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;
    margin-top: 0px !important;
    padding-top: 14px;
    padding-bottom: 14px;
}

.menu-dropdown:hover {
    background: transparent;
    border: 0px;
    color: #F8F4FC;
    position: relative;
    display: inline-block;
    letter-spacing: 0.04em;
    font-weight: 300;
    font-size: 16px;
}

.menu-dropdown:active {
    background: transparent !important;
    border: 0px;
    color: #fff;
    position: relative;
    display: inline-block;
    letter-spacing: 0.04em;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;
    margin-top: 0px !important;
    padding-top: 14px;
    padding-bottom: 14px;
    border-color: transparent;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: transparent !important;
    color: #fff;
}

.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    color: #fff;
}

.navbar-default .navbar-nav li a:hover {
    background: transparent !important;
    color: #F8F4FC;
}

.btn::after {
    background: transparent !important;
}

.navbar-default .navbar-nav li a::after {
    background: transparent !important;
    color: #F8F4FC;
}

.navbar-default .navbar-nav li a:focus {
    background: transparent !important;
    color: #F8F4FC;
}

.btn-default:focus {
        background: transparent !important;
}



.dropdown-menu {
    background: -webkit-linear-gradient(0deg, #CE0921 10%, #d63a1f 90%);
    background: -webkit-linear-gradient(bottom, #CE0921 10%, #d63a1f 90%);
    background: linear-gradient(0deg, #CE0921 10%, #d63a1f 90%);
}

.dropdown-menu .divider {
    background-color: #99271C;
}

.donate-nav {
    float: right;
    display: inline-block;
}

.donate-nav li a{
    font-weight: 500;
    border: 1px solid #fff;
    padding: 5px 15px;
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 3px;
}


@media (min-width: 768px) {
	.navbar-nav {
	    float: none;
	    margin: 0;
        display: inline-block;
	}
}
