.navbar {
	font-weight: 500;
	position:relative;
	text-transform: uppercase;

 	
}
.navbar-default .navbar-nav li a, .navbar-default .navbar-brand, .red-btn a  {
    color: white;
    font-size: 15px;
}


.navbar-default {
    background-color: #CE0921;
    border: 0px;
}

.navbar-nav > li {
    float: none;
}

.nav > li {
    position: relative;
    display: inline-block;
    font-family: 'futura-pt-condensed', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

ul.navbar-nav {
	position: absolute;
    margin: 0 auto;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
}


@media (min-width: 768px) {
	.navbar-nav {
	    float: none;
	    margin: 0;
	}
}