@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';


.title, .description, .team-actions {
	padding: 20px 100px;
}
.description p {
	padding-top: 20px;
	padding-bottom: 100px;
}
.team-actions {
	background-color: #df5051;
	color: white;
	height: 200px;
}
.stats, .refugees, .goals, .events, .search, .update {
	padding: 40px;
	height: 300px;
	border-bottom: 1px solid silver;
}

.footer {
	background-color: #efefef;
	margin-top: 40px;
	padding: 20px;
}
.title h1 {
	font-size: 5em;
}